doctype html
html(lang="en")
	head
		title Traffic Visualizer
		script(src="/socket.io/socket.io.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8")
		link(rel="stylesheet", href="/styles/main.css")
	body
		script(src="/js/index.js")